/***** Global *****/
:root {
  --main-color: #cbfe1c;
}

body {
  font-family: "Days One", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--main-color);
}

.main-text {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color);
  /* color: black; */
}

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.767),
    transparent
  );
  transition: 0.6s;
}
.btn-shine:hover {
  background-color: rgba(163, 255, 0, 0.8);
}

.btn-shine:hover::before {
  left: 100%;
  background-color: rgba(163, 255, 0, 0.8);
}

/***** End Global *****/

/***** Navbar *****/

.my-nav {
  background-color: #0b0e13;
  border-bottom: 1px solid #1e2939;
}
.my-nav .nav-link {
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
}
.my-nav .nav-link:hover {
  color: var(--main-color);
}
.my-nav .nav-link.active {
  color: var(--main-color);
}
.my-nav .myNav-btn {
  /* background-color: #cbfes1c; */
  color: #0b0e13;
}
.my-nav .myNav-btn span {
  color: white;
}
.my-nav .myNav-btn span i:hover {
  color: var(--main-color);
}

/***** End Navbar *****/

/***** Home *****/
.home {
  height: 100vh;
  background-size: cover;
  background-image:
    linear-gradient(#000000e0, #000000e0), url(../images/imgi_77_hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.home .row .btn-1 {
  padding: 20px 35px;
  border-radius: 12px;
  margin-right: 25px;
}
.home .row .btn-2 {
  border: 3px solid var(--main-color);
  padding: 20px 35px;
  border-radius: 12px;
  margin-right: 25px;
}
.btn-2 {
  position: relative;
  overflow: hidden;
}
.btn-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.767),
    transparent
  );
  transition: 0.6s;
}
.btn-2:hover {
  background-color: var(--main-color);
  color: black;
}

.btn-2:hover::before {
  left: 100%;
  color: black;
}
.home .row .image-content{
    width: 100%;
    /* height: 250px; */
    border: 4px solid transparent;
    border-radius: 10px;
    background: linear-gradient(#000, #000) padding-box, 
    linear-gradient(140deg, var(--main-color),#57C785) border-box;
    position: relative;
}
.home .row .image-content img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.home .row .image-content .active-player{
    position: absolute;
    bottom: -60px;
    left: -43px;
    padding: 20px;
    background-color: #0b0e13;
    border-radius: 8px;
}
.text-gray{
    color: gray;
}
.home .row .image-content .active-player .active-player-content p{
    font-size: 12px;
}
/***** End Home *****/
