/***** Global *****/
:root {
  --main-color: #cbfe1c;
}

body {
  font-family: "Days One", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--main-color);
}

.main-text {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color);
  /* color: black; */
}

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.767),
    transparent
  );
  transition: 0.6s;
}
.btn-shine:hover {
  background-color: rgba(163, 255, 0, 0.8);
}

.btn-shine:hover::before {
  left: 100%;
  background-color: rgba(163, 255, 0, 0.8);
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title-wrapper span {
  width: 80px;
  height: 2px;
  background: linear-gradient(to right, transparent, #c6ff00);
  position: relative;
  top: -8px;
}

.title-wrapper span:last-child {
  background: linear-gradient(to left, transparent, #c6ff00);
}

/***** End Global *****/

/***** Navbar *****/

.my-nav {
  background-color: #0b0e13;
  border-bottom: 1px solid #1e2939;
}
.my-nav .nav-link {
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
}
.my-nav .nav-link:hover {
  color: var(--main-color);
}
.my-nav .nav-link.active {
  color: var(--main-color);
}
.my-nav .myNav-btn {
  /* background-color: #cbfes1c; */
  color: #0b0e13;
}
.my-nav .myNav-btn span {
  color: white;
}
.my-nav .myNav-btn span i:hover {
  color: var(--main-color);
}

/***** End Navbar *****/

/***** Home *****/
.home {
  height: 100vh;
  background-size: cover;
  background-image:
    linear-gradient(#000000e0, #000000e0), url(../images/imgi_77_hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.home .row .btn-1 {
  padding: 20px 35px;
  border-radius: 12px;
  margin-right: 25px;
}
.home .row .btn-2 {
  border: 3px solid var(--main-color);
  padding: 20px 35px;
  border-radius: 12px;
  margin-right: 25px;
}
.btn-2 {
  position: relative;
  overflow: hidden;
}
.btn-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.767),
    transparent
  );
  transition: 0.6s;
}
.btn-2:hover {
  background-color: var(--main-color);
  color: black;
}

.btn-2:hover::before {
  left: 100%;
  color: black;
}
.home .row .image-content {
  width: 100%;
  /* height: 250px; */
  border: 4px solid transparent;
  border-radius: 10px;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(140deg, var(--main-color), #57c785) border-box;
  position: relative;
}
.home .row .image-content img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.home .row .image-content .active-player {
  position: absolute;
  bottom: -60px;
  left: -43px;
  padding: 20px;
  background-color: #0b0e13;
  border-radius: 8px;
}
.text-gray {
  color: gray;
}
.home .row .image-content .active-player .active-player-content p {
  font-size: 12px;
}
/***** End Home *****/

/***** Our Games *****/

.carousel-indicators [data-bs-target] {
  transition: none;
}
.my-carousel {
  position: relative;
}
.my-carousel .btn-prev {
  top: 500px;
  left: 450px;
}
.my-carousel .btn-next {
  top: 500px;
  left: 535px;
}
.btn-prev span,
.btn-next span {
  border: 1px solid #99a1af;
  padding: 18px;
  border-radius: 50%;
}
.btn-prev:hover span,
.btn-next:hover span {
  border: 1px solid #c6ff00;
  color: #c6ff00;
}

.my-carousel .view-all-btn {
  position: relative;
  bottom: -45px;
  left: 35px;
  border: 2px solid #c6ff00;
  padding: 20px 40px;
  margin-left: 55px;
}
.game-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.game-card img {
  display: block;
  border-radius: 20px;
}

.tags {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.4s;
}

.tags span {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.game-card .title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #000;
  /* font-weight: bold; */
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s;
  z-index: 1;
}

.game-card:hover .tags,
.game-card:hover .title {
  opacity: 1;
  transform: translateY(0);
}

.game-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(200, 255, 0, 0.112);
  opacity: 0;
  transition: 0.4s;
}

.game-card:hover::after {
  opacity: 1;
}
/***** End Our Games *****/

/***** What-we-do *****/
.container .row .card {
  border-radius: 0.9375rem;
  background-color: #1a1a1a;
  position: relative;
}
.container .row .card .box {
  position: absolute;
  height: 30px;
  width: 30px;
  /* visibility: hidden; */
}
.container .row .card .left-arrow {
  top: 0;
  left: 0;
  background: linear-gradient(
    315deg,
    transparent 50%,
    var(--main-color) 50%
  ) !important;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
}
.container .row .card .right-arrow {
  bottom: 0;
  right: 0;
  background: linear-gradient(
    315deg,
    var(--main-color) 50%,
    transparent 50%
  ) !important;
  transition: all 0.1s ease-in-out;
  visibility: hidden;
}
.container .row .card:hover {
  border: 1px solid var(--main-color);
}
.container .row .card:hover .left-arrow {
  transform: translate(20px, 20px);
  transition: all 0.2s ease-in-out;
  visibility: visible;
}
.container .row .card:hover .right-arrow {
  transform: translate(-20px, -20px);
  transition: all 0.2s ease-in-out;
  visibility: visible;
}
.container .row .card .card-content {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.container .row .card .card-img img {
  border-radius: 12px;
  height: 250px;
}

.row .card .icon {
  padding: 15px 15px;
  background-color: #1e2939;
  margin-bottom: 18px;
  border-radius: 8px;
  font-size: 25px;
  color: var(--main-color);
}
.container .row .card:hover .card-content .icon {
  background-color: var(--main-color) !important;
  color: #000;
}
.glow-line {
  width: 60%;
  height: 3px;
  margin: 50px auto;
  background: linear-gradient(to right, transparent, #cbfe1c, transparent);

  /* الجلو */
  box-shadow:
    0 0 10px #cbfe1c,
    0 0 20px #cbfe1c,
    0 0 40px #cbfe1c;
}
.container .carousel-show {
  overflow-x: hidden;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.container .carousel-show::-webkit-scrollbar {
  display: none;
}
.carousel-show .group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}
.carousel-show .group .card-img {
  flex: 0 0 5em;
}
.carousel-show .group img {
  width: 10%;
  border-radius: 15px;
}
.carousel-show .group.left {
  animation: spin-left 35s infinite linear;
}
.carousel-show .group.right {
  animation: spin-right 35s infinite linear;
}

@keyframes spin-left {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
@keyframes spin-right {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}
.bg-radial {
  padding: 10px;
  background: radial-gradient(
    circle,
    rgba(233, 214, 47, 0.476) 23%,
    transparent 45%
  );
}

/***** End What-we-do *****/

/***** Our Team *****/

.team .row .card-content .img-content img {
  border-radius: 12px;
}

.team .row .card-content .left-content {
  margin-bottom: 10px;
}
.team .row .card-content .left-content h4 {
  font-size: 18px;
}
.team .row .card-content .left-content p {
  font-size: 12px;
  margin: 0;
  transition: color 0.8s ease-in-out;
}
.team .row .card-content .left-content small {
  font-size: 8px;
}
.team .row .card-content .content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
/* .team .row .card-content .right-content {
    width: 0;
    height: 0;
} */
.team .row .card-content .right-content .flying-p {
  transform: rotate(90deg);
  position: relative;
  top: 10px;
  left: 44px;
  transition: color 0.8s ease-in-out;
}

.div-hover {
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  border-radius: 12px;
  margin: 0px 12px;
  transition: height 0.8s ease-in-out;
  background-color: #180d0dc4;
}

.all-card:hover .div-hover {
  height: 0%;
}
.all-card:hover .flying-p {
  color: var(--main-color);
}
.all-card:hover .left-content p {
  color: var(--main-color);
}

/***** End Our Team *****/
